
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

Frontend/myAng12App-Working/.angular/cache/
# dependencies
Frontend/myAng12App-Working/node_modules/

# IDE - VSCode
Frontend/myAng12App-Working/.vscode/*
!Frontend/myAng12App-Working/.vscode/settings.json
!Frontend/myAng12App-Working/.vscode/tasks.json
!Frontend/myAng12App-Working/.vscode/launch.json
!Frontend/myAng12App-Working/.vscode/extensions.json